/* Style.css */


body {background-image:url("../images/capetown.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
   background-position: center;
  color: rgb(5, 5, 5);
 }
 h1 {
  color: rgb(176, 243, 67);
  text-align: center;
  font: italic 500% fantasy;
  font-size-adjust: 20.100 ;
 }
 
  h2{background-color: rgb(61, 223, 28);
  color: #FFFFFF;
  text-align:left;
  border: 3px groove #FFFF33;}

  .main{
    width: 300px;
    border: 1px solid rgb(228, 219, 219);
    padding: 20px;
    margin: 10px;
    background-color: rgb(134, 203, 238);
    position:relative right 200px;
    clear:left;
  }



#more {display: none;
  }

  title{
    font-size-adjust: 20.58 
  }
  
.column {
  float: left;
  width: 25%;
  padding: 10px;
}


.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.container {
  position: relative;
  display: none;
}

.closebtn {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
#gallert{float:right}